*{
    padding: 0;
    margin: 0;
  }
  .chat-home {
    text-align: center;
    background: url("../assets/bg1.jpg");
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
  }
  .chat-ho h2{
    color: aliceblue;
    cursor:alias;
  }
  .chat{
    height: 80%;
    min-width: 60%;
    background-color: rgba(59, 82, 199);
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0px 0px 0px black;
    transition: 1s;
  }
  .chat:hover{
    transform: translateY(-10px);
    box-shadow: 10px 15px 30px black;
  }
  .text1{
    height: 80%;
    background: url("../assets/bg4.jpeg");
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    overflow-y: scroll;
    scrollbar-width: none;
  }
  #text1{
    position:relative;
    bottom: 0;
    left: 0;
    width: 80%;
    height: 20px;
    border-radius: 10px;
    padding: 10px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border: none;
  }
  #btn{
    height: 40px;
    padding: 10px;
    border-radius: 10px;
    background-color: lightgreen;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border: none;
    cursor: pointer;
  }
  .sendingtext{
    min-height: 20px;
    max-width: 65%;
    border-radius: 10px;
    justify-self: end;
    background-color: #64d2da;
    color:#f8f8f8;
    padding: 10px;
    padding-bottom: 1px;
    margin: 10px;
    border-bottom-right-radius: 0px;
    animation: fadeIn 0.5s ease-out;
  }
  
  .recievingtext{
    min-height: 20px;
    max-width: 65%;
    border-radius: 10px;
    justify-self: start;
    background-color: #4d89ca;
    color: #ffffff;
    padding: 10px;
    padding-bottom: 2px;
    margin: 10px;
    border-bottom-left-radius: 0px;
    animation: fadeIn 0.5s ease-out;
  }
  
  @keyframes fadeIn {
    0%{
      opacity: 0;
    }
    100%{
      opacity: 1;
    }
  }