*{
    padding: 0;
    margin: 0;
}
.login-home{
    height: 100vh;
    width: 100%;
    background: url(../assets/anime_bg1.gif);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.login-container{
    min-width: 350px;
    min-height: 500px;
    background-color: white;
    height: 70%;
    z-index: 1;
    padding: 50px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 10px 10px 10px black;
    animation: errorAnime 1.5s;
}

.login-container h1{
    font-size: 40px;
    color: rgb(104, 104, 231);
    margin-bottom: 30px;
    text-align: center;
}
.login-container input{
    height: 30px;
    width: 100%;
    background: transparent;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid purple;
    margin-bottom: 20px;
    padding: 5px;
}

.login-container button{
    width: 100%;
    border-radius: 20px;
    color: white;
    border: none;
    margin-bottom: 10px;
    height: 35px;
    cursor: pointer;
    background: linear-gradient(90deg,skyblue,rgb(138, 117, 240),rgb(234, 0, 255));
}

.login-container p {
    font-size: 10px;
    text-align: center;
    position: relative;
    bottom: 0;
}
#pro-img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin-bottom: 50px;
}

.login-error{
    height: 30%;
    width: 40%;
    background: linear-gradient(130deg,rgb(225, 49, 49),rgb(188, 191, 29));
    border-radius: 10px;
    padding: 30px;
    justify-content: center;
    text-align: center;
    color: aliceblue;
    padding-top: 20px;
    scale: 0;
    animation: errorAnime;
    transition-duration: 0.5s;
    border: 1px solid red;
    z-index: 1;
    animation-duration: 1s;
}

.error-cover{
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.432);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
    transition: 1s;
}
.login-error p{
    margin-top: 10%;
    margin-bottom: 10%;
    font-size: 25px;
}
.login-error button{
    position: relative;
    bottom: 0;
    width: 70%;
    color: black;
    height: 30px;
    border: none;
    background: linear-gradient(130deg,rgb(101, 221, 139),skyblue);
    border-radius: 30px;
}
@keyframes errorAnime {
    0%{
        opacity: 0%;
    }
    100%{
        opacity: 100%;
    }
}
.login-container p{
    text-decoration: none;
    color: black;
}
#ghost{
    position: absolute;
    height: 400px;
    animation: motion 3s infinite;
    z-index: 2;
    opacity: 1;
}

@keyframes motion {
    0%{
        transform: translate(00px,00px); 
    }
    25%{
        transform: translate(100px,-100px);
    }
    50%{
        transform: translate(-500px,200px);
    }
    100%{
        transform: translate(0px,0);
    }
    
}